@model ThanTai.Models.NguoiDung_ChinhSua

@{
    ViewData["Title"] = "Chỉnh sửa người dùng";
}

<div class="card">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />

            <div class="mb-3">
                <label asp-for="HoVaTen" class="control-label"></label>
                <input asp-for="HoVaTen" class="form-control" />
                <span asp-validation-for="HoVaTen" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DienThoai" class="control-label"></label>
                <input asp-for="DienThoai" class="form-control" />
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="TenDangNhap" class="control-label"></label>
                <input asp-for="TenDangNhap" class="form-control" />
                <span asp-validation-for="TenDangNhap" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="MatKhauMoi" class="control-label"></label>
                <input asp-for="MatKhauMoi" class="form-control" placeholder="Bỏ trống để giữ nguyên mật khẩu cũ" />
                <span asp-validation-for="MatKhauMoi" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="XacNhanMatKhau" class="control-label"></label>
                <input asp-for="XacNhanMatKhau" class="form-control" placeholder="Bỏ trống để giữ nguyên mật khẩu cũ" />
                <span asp-validation-for="XacNhanMatKhau" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Quyen" /> @Html.DisplayNameFor(model => model.Quyen)
                </label>
            </div>

            <div class="mb-3">
                @if (!string.IsNullOrEmpty(Model.Anh))
                {
                    <span class="d-block mb-2"><img src="~/uploads/@Model.Anh" width="80" class="img-thumbnail" /></span>
                    <span class="d-block mb-2 mt-2 small text-danger">Bỏ trống nếu không muốn cập nhật ảnh mới!</span>
                }
                <label asp-for="DuLieuHinhAnh" class="control-label"></label>
                <input asp-for="DuLieuHinhAnh" accept="image/jpeg,image/gif,image/png" class="form-control" />
                <span asp-validation-for="DuLieuHinhAnh" class="text-danger"></span>
            </div>


            <div class="mb-0">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-floppy-disk"></i> Cập nhật
                </button>
                hoặc <a asp-action="Index">Quay về danh sách</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}