@model ThanTai.Models.SanPham

@{
    ViewData["Title"] = "Thêm sản phẩm";
}

<div class="card">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="LoaiSanPhamID" class="control-label"></label>
                <select asp-for="LoaiSanPhamID" class="form-control" asp-items="ViewBag.LoaiSanPhamID"></select>
            </div>

            <div class="mb-3">
                <label asp-for="ThuongHieuID" class="control-label"></label>
                <select asp-for="ThuongHieuID" class="form-control" asp-items="ViewBag.ThuongHieuID"></select>
            </div>

            <div class="mb-3">
                <label asp-for="TenSanPham" class="control-label"></label>
                <input asp-for="TenSanPham" class="form-control" />
                <span asp-validation-for="TenSanPham" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DonGia" class="control-label"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="MoTa" class="control-label"></label>
                <textarea id="editorMoTa" asp-for="MoTa" class="form-control"></textarea>
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="GiamGia" class="control-label"></label>
                <textarea asp-for="GiamGia" class="form-control"></textarea>
                <span asp-validation-for="GiamGia" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ThongTinThongSo" class="control-label"></label>
                <textarea id="editorThongSo" asp-for="ThongTinThongSo" class="form-control"></textarea>
                <span asp-validation-for="ThongTinThongSo" class="text-danger"></span>
            </div>


            <div class="mb-0">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Thêm mới</button> hoặc <a asp-action="Index">Quay về danh sách</a>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/ckeditor5/ckeditor.js"></script>
<script>
    ClassicEditor.create(document.querySelector('#editorMoTa'))
        .catch(error => console.error(error));

    ClassicEditor.create(document.querySelector('#editorThongSo'))
        .catch(error => console.error(error));
</script>
