@model ThanTai.Models.KhuyenMai

@{
    ViewData["Title"] = "Thêm khuyến mãi";
}

<div class="card">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="SanPhamID" class="control-label"></label>
                <select asp-for="SanPhamID" class="form-control" asp-items="ViewBag.SanPhamID"></select>
            </div>

            <div class="mb-3">
                <label asp-for="NgayBatDau" class="control-label"></label>
                <input asp-for="NgayBatDau" type="datetime-local" class="form-control" />
                <span asp-validation-for="NgayBatDau" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="NgayKetThuc" class="control-label"></label>
                <input asp-for="NgayKetThuc" type="datetime-local" class="form-control" />
                <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" type="number" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="MoTa" class="control-label"></label>
                <textarea asp-for="MoTa" class="form-control"></textarea>
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="KieuKhuyenMai" class="control-label"></label>
                <select asp-for="KieuKhuyenMai" class="form-control">
                    <option value="0">Giảm theo phần trăm (%)</option>
                    <option value="1">Giảm theo số tiền</option>
                    <option value="2">Mua 1 tặng 1</option>
                </select>
                <span asp-validation-for="KieuKhuyenMai" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="GiaTriGiam" class="control-label"></label>
                <input asp-for="GiaTriGiam" type="number" class="form-control" />
                <span asp-validation-for="GiaTriGiam" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="TrangThai" class="control-label"></label>
                <select asp-for="TrangThai" class="form-control">
                    <option value="1">Đang áp dụng</option>
                    <option value="0">Ngừng áp dụng</option>
                </select>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>

            <div class="mb-0">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-floppy-disk"></i> Thêm mới
                </button> hoặc <a asp-action="Index">Quay về danh sách</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
